.dt-cover {
    width: 150px;
    height: 150px;
}
.dt-item-box {
    width: 700px;
    background-color: black;
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    font-size: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    display: flex;
    justify-content: space-around;
}
.item-infos
{
  
    margin-left: 35px;
    padding-left: 20px;
}
.play-btn {
    background-color: gold;
    border-color: black;
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    display: none;
}
